@media screen and (max-width: 1024px) {
	.container {
		width: 850px;
	}

	header {
		height: 550px;
	}

	.photo {
		height: 390px;
		padding-top: 50px;
	}

	h1 {
		font-size: 36px;
	}

	.mainTitle p {
		font-size: 30px;
	}

	.mainTitle a {
		margin-left: 100px;
	}

	.regal li {
		margin-left: 30px;
	}

	#types {
		height: 520px;
	}

	.lessons_item:first-child {
		margin-left: 30px;
	}

	.lessons_item:nth-child(2) {
		margin-left: 35px;
	}

	#lessons a {
		margin-left: 265px;
	}

	.items li p span {
		margin-left: 0;
	}
}

	.zayavka {
		margin-left: 120px;
	}

	.send {
		margin-left: 270px;
	}

	.send:disabled {
		margin-left: 270px;
	}

	.confirm {
		margin-left: 120px;
	}


@media screen and (max-width: 768px) {
		
	.container {
		width: 320px;
	}

	header {
		height: 830px;
		margin-top: -20px;
		padding-top: 10px;
	}

	.menu li {
		float: none;
		margin-right: 0;
		text-align: center;
	}

	.menu li a {
		font-size: 28px;
	}

	nav {
		float: none;
		margin-top: 20px;
	}

	.crop {
		margin: 0;
		margin-top: 10px;
		padding: 0;
		height: 250px;
		overflow: hidden;
	}

	.photo {
		padding-top: 10px;
		float: none;
		height: 320px;
		padding-left: 32px;
		margin-top: -30px;
	}

	h1 {
		margin-top: 5px;
		font-size: 27px;
		text-align: center;
	}

	.mainTitle {
		float: none;
	}

	.mainTitle p {
		margin-left: 45px;
	}

	.mainTitle a {
		margin: 0;
		margin-left: 28px;
		text-align: center;
	}

	#about_main {
		font-size: 26px;
	}

	#about_main p {
		font-size: 22px;
		margin-top: 10px;
	}

	.regal li {
		margin-left: 0;
	}

	.regal li img {
		height: 26px;
		padding-top: 4px;
	}

	.regal li p {
		margin-left: 0;
		font-size: 20px;
	}

	.regal li p span {
		margin-left: 0;
	}

	#types {
		height: 560px;
	}

	.title h2 {
		font-size: 30px;
	}

	.title p {
		font-size: 22px;
	}

	.items {
		margin-top: 20px;
	}

	.items li {
		margin-left: 0;
		margin-top: 0;
	}

	.items li img {
		height: 24px;
	}

	.items li p {
		font-size: 25px;
	}

	.lessons_item h3 {
		font-size: 28px;
		margin: 0;
	}

	.lessons {
		margin: 0;
	}

	#lessons a {
	margin-top: 10px;
	width: 224px;
}

	.lessons_item {
		float: none;
		margin: 0;
	}

	.lessons_item:first-child {
		margin-left: 20px;
	}

	.lessons_item:last-child {
		float: none;
		margin-right: 0;
		margin-left: 20px;
	}

	.lessons_item:nth-child(2) {
		margin-left: 20px;
	}

	#lessons a {
		margin-left: 34px;
	}
 	#metod {
 		height: 1170px;
 	}

 	.zayavka {
 		margin-left: 5px;
 		width: 284px;
 	}

 	.send {
 		margin-left: 8px;
 	}

 	 .send:disabled {
 		margin-left: 8px;
 	}

 	.confirm {
		border: #390 solid medium;
		border-radius: 4px;
		margin-top: 20px;
		margin-left: 4px;
		width: 312px;
		padding: 10px;
		font-size: 19px;
		color: #777;
		text-align: center;
	}