body{
	font-family: Roboto, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

div{
	box-sizing: border-box;
}

header {
	background-color: #F2F2F2;
	height: 600px;
}

.container {
	width: 950px;
	margin: 0 auto;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 40px;
}

.menu li a {
	color: #900;
	text-decoration: none;
	font-size: 28px;
}

nav {
	float: left;
	margin-top: 30px;
}

.zapis{
	width: 250px;
	text-align: center;
	border: thick solid #390;
	border-radius: 28px;
	display: block;
	color: #000;
	text-decoration: none;
	font-size: 28px;
}

.photo {
	height: 450px;
	padding-top: 30px;
	display: block;
	float: left;
}

.mainTitle {
	margin-top: 30px;
	margin-left: 40px;
	float: right;
}

.mainTitle p {
	font-size: 35px;
	font-weight: 100;
	margin-top: 0;
}

.mainTitle a {
	margin-top: 30px;
	margin-left: 150px;
	padding: 4px;
}

.mainHead {
	float: left;
}

h1 {
	font-size: 40px;
	line-height: 1.5;
}

#about {
	font-weight: 100;
	line-height: 1.7;
	padding-top: 50px;
	padding-bottom: 30px;
}

#about_main {
	font-size: 32px;
	text-align: center;
	font-style: normal;
}

#about_main p {
	margin-top: 40px;
	text-align: center;
	font-size: 22px;
}

.regal li {
	display: block;
	margin-left: 100px;
	margin-top: 20px;
}

.regal li img {
	height: 35px;
	float: left;
	padding-right: 20px;
}

.regal li p {
	text-align: left;
	font-size: 22px;
}

.regal li p span {
	margin-left: 56px; 
}





#types {
	height: 470px;
	background: #F2F2F2;
	padding-top: 20px;
}

.items {
	margin-top: 65px;
}

.items li {
	display: block;
	margin-left: 40px;
	margin-top: 34px;
}

.items li img {
	margin-top: 8px;
	height: 28px;
	float: left;
	padding-right: 20px;
}

.items li p {
	font-size: 28px;
	line-height: 1.6;
	text-align: left;
}

.items li p span {
	margin-left: 50px;
}

.title h2 {
	font-size: 38px;
	text-align: center;
	margin-bottom: 0;
}

.title p {
	text-align: center;
	font-size: 22px;
	margin-top: 20px;
}

#lessons {
	padding-top: 20px;
	padding-bottom: 40px;
}

.lessons{
	margin-top: 50px;
}

.lessons_item {
	float: left;
	text-align: center;
}

.lessons_item img {
	width: 150px;
	height: 150px;
}

.lessons_item h3 {
	font-size: 30px;
	margin-bottom: 10px;
}

.lessons_item h4 {
	font-size: 26px;
	margin-top: 20px;
}

.lessons_item p {
	font-size: 20px;
}

.lessons_item:first-child {
	margin-left: 50px;
}

.lessons_item:last-child {
	float: right;
	margin-right: 50px;
}

.lessons_item:nth-child(2) {
	margin-left: 95px;
}

#lessons a {
	margin-top: 10px;
	margin-left: 330px;
	background: #390;
	color: white;
	width: 300px;
	padding: 10px;
	font-size: 25px;
}

#metod {
	height: 580px;
	background: #F2F2F2;
	padding-top: 20px;
}

#metod .items {
	margin-top: 40px;
}

#metod .items li p {
	font-size: 26px;
}

#zapis {
	padding-top: 20px;
	padding-bottom: 40px;
}


