body{
	font-family: Roboto, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

div{
	box-sizing: border-box;
}

header {
	background-color: #F2F2F2;
	height: 600px;
}

.container {
	width: 950px;
	margin: 0 auto;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 40px;
}

.menu li a {
	color: #900;
	text-decoration: none;
	font-size: 28px;
}

nav {
	float: left;
	margin-top: 30px;
}

.zapis {
	margin-top: 40px;
	margin-left: 150px;
	width: 250px;
	text-align: center;
	padding: 4px;
	border: medium solid #390;
	border-radius: 25px;
	display: block;
	color: #000;
	text-decoration: none;
	font-size: 28px;
}

.photo {
	height: 450px;
	padding-top: 30px;
	display: block;
	float: left;
}

.mainTitle {
	margin-top: 50px;
	margin-left: 40px;
	float: right;
}

.mainHead {
	float: left;
}

h1 {
	font-size: 40px;
	line-height: 1.5;
}




#about {
	font-weight: 100;
	line-height: 1.6;
	padding-top: 50px;
	padding-bottom: 30px;
}

#about_main {
	font-size: 32px;
	text-align: center;
	font-style: normal;
}

#about p {
	text-align: center;
	font-size: 22px;
}







.title {

}

.title h2 {
	font-size: 36px;
	text-align: center;
	margin-bottom: 0;
}

.title p {
	text-align: center;
	font-size: 22px;
	margin-top: 10px;
}

#lessons {
	padding-top: 30px;
	background: #F2F2F2;
	height: 500px;
}

.lessons{
	margin-top: 50px;
}

.lessons_item {
	float: left;
	text-align: center;
}

.lessons_item img {
	width: 150px;
	height: 150px;
}

.lessons_item h3 {
	font-size: 26px;
	margin-bottom: 10px;
}

.lessons_item p {
	font-size: 20px;
}

.lessons_item:first-child {
	margin-left: 50px;
}

.lessons_item:last-child {
	float: right;
	margin-right: 50px;
}

.lessons_item:nth-child(2) {
	margin-left: 135px;
}
