body{
	font-family: Roboto, Arial, sans-serif;
	padding: 0;
	margin: 0;
}

div{
	box-sizing: border-box;
}

header {
	background-color: #F2F2F2;
	height: 600px;
}

.container {
	width: 950px;
	margin: 0 auto;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 40px;
}

.menu li a {
	color: #900;
	text-decoration: none;
	font-size: 26px;
}

nav {
	float: left;
	margin-top: 30px;
}

.zapis {
	margin-top: 40px;
	margin-left: 150px;
	width: 250px;
	text-align: center;
	padding: 4px;
	border: medium solid #390;
	border-radius: 25px;
}

.zapis a {
	color: #000;
	text-decoration: none;
	font-size: 28px;
}

.photo {
	height: 450px;
	padding-top: 30px;
	display: block;
	float: left;
}

.mainTitle {
	margin-top: 50px;
	margin-left: 40px;
	float: right;
}

.mainHead {
	float: left;
}

h1 {
	font-size: 40px;
	line-height: 1.5;
}
